In [3]:
def fibo(n):
    if n == 0 or n == 1:
        return n
    return fibo(n-2) + fibo(n-1)

In [4]:
fibo(4)

3

In [13]:
a = [10, 4, 5, 8, 10, 10, 1, 20]
size = len(a)
output = []
for item in range(size):
    m = a[0]
    for i in a:
        if i < m:
            m = i
    output.append(m)
    a.remove(m)
output

[1, 4, 5, 8, 10, 10, 10, 20]

In [14]:
ord('Q')

81

## Exercice Qebobfpkljbpp^db

In [15]:
message = "Qebobfpkljbpp^db"

In [16]:
decyphered_message = []
for letter in message:
    decyphered_message.append(chr(ord(letter) + 3))

In [18]:
"".join(decyphered_message)

'Thereisnomessage'

In [19]:
"".join([chr(ord(l) + 3) for l in message])

'Thereisnomessage'

## Create a file and read it (fruits.csv)

In [20]:
with open("fruits.txt", "r") as fruits:
    data = fruits.read()

In [28]:
df = [row.split(",") for row in data.split("\n")]

In [31]:
df = []
for row in data.split("\n"):
    df.append(row.split(","))

## Count number of lines and columns

In [33]:
nb_rows = len(df) - 1  # 3

In [34]:
nb_columns = len(df[0])  # 3

## Sum of prices

In [43]:
sum([int(lst[1]) for lst in df[1:]])

6

## Find all Friday the 13rd in the next 5 years

In [45]:
from datetime import datetime, timedelta

In [46]:
datetime.now()

datetime.datetime(2020, 2, 22, 10, 35, 19, 616564)

In [47]:
datetime.now() + timedelta(days=1)

datetime.datetime(2020, 2, 23, 10, 35, 33, 852496)

In [48]:
datetime.now().isoweekday()

6

In [62]:
from datetime import datetime, timedelta

results = []
start = datetime.now()
today = start
while today <= (start + timedelta(days=5 * 365)):
    if today.isoweekday() == 5 and today.day == 13:
        results.append(today.strftime('%Y-%m-%d'))
    today += timedelta(days=1)  # today = today + timedelta()

In [63]:
results

['2020-03-13',
 '2020-11-13',
 '2021-08-13',
 '2022-05-13',
 '2023-01-13',
 '2023-10-13',
 '2024-09-13',
 '2024-12-13']

## Count how many Friday the 13rd per year

In [68]:
counter = {}
for date in results:
    year = date[:4]
    if year not in counter:
        counter[year] = 0
    counter[year] += 1

In [69]:
counter

{'2020': 2, '2021': 1, '2022': 1, '2023': 2, '2024': 2}

In [71]:
from collections import Counter

Counter([r[:4] for r in results])

Counter({'2020': 2, '2021': 1, '2022': 1, '2023': 2, '2024': 2})

## Find the sum of all the multiples of 3 or 5 below 1000.

In [73]:
somme = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        somme += i
somme

233168

In [74]:
sum([i for i in range(1000) if i % 3 == 0 or i % 5 == 0])

233168

## Find the largest palindrome made from the product of two 3-digit numbers.

In [82]:
def is_palindromic(n):
    return n == n[::-1]

In [85]:
maximum = 0
for i in range(100, 1000):
    for j in range(i, 1000):
        total = i * j
        if is_palindromic(str(total)) and total > maximum:
            maximum = total
maximum

906609